*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
:root{
    --cor1: #efefdc;
    --cor2: #6c2f4c;
    --cor3:rgb(255, 255, 255);
    --cor4: #44355B;
    --cor5: #f98774;
    --cor6: #a1607d;
}

html{
    width: 100%;
    height: 100vh;
}

body {
    background: var(--cor1);
    color: var(--cor4);
}

h1{
    color: var(--cor3);
    font-size: 40px;
    font-weight: 700;
    font-family: "Lora", serif;
}

h2{
    padding: 1rem;
    color: var(--cor4);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

h3{
    padding: 1rem;
    color: var(--cor3);
    font-size: 1.25rem;
    /*font-family: 'Lora', serif;*/
    text-align: center;
}

p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0.5rem 0;
}

/* Definindo as configurações do Flexbox */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
}

#header_content{
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--cor2);
    border-bottom: 1px solid var(--cor2);
}

#menu li {
    display: inline;
    padding: 1rem;
 }
 
 #menu li a {
    text-decoration: none;
    color: var(--cor3);
    font-size: 20px;
 }
 
 #menu li a:hover {
    color: var(--cor5);
    text-decoration: underline;
 }

 #about{
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
 }

#sobre_texto{
    flex-direction: column;
    margin: 2rem auto;
    width: 100%;
    /*background-color: var(--cor2);
    border-radius: 10px;
    z-index: 1;
    height: 160px;
    transform: translateY(5%);
    padding: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);*/
 }

 #conteudo{
    flex-direction: row;
    gap: 2rem;
 }

 .img_profile{
    width:200px;
    border-radius: 16px;
    z-index: 2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
 }

 #video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 90%;
 }


 #video h2 {
    text-align: left; /* Alinha o título à esquerda */
    color: var(--cor4); /* Cor do título */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 100%; /* Garante que o título ocupe a largura toda */
}


 footer{
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    color: var(--cor3);
    background-color: var(--cor2);
    font-weight: bold;
    text-align: center;
 }

 #redes_sociais {
    display: flex;
    justify-content: space-evenly; 
    margin: 1rem 0 0 0;
    width: 320px;
}

.social_icon {
    width: 4rem;
    height: 4rem;
    filter: brightness(0) 
    saturate(100%) 
    invert(100%) 
    sepia(0%) 
    saturate(7500%) 
    hue-rotate(185deg) 
    brightness(102%) 
    contrast(103%);
}

.social_icon:hover {  
    filter: brightness(0) saturate(100%) invert(61%) sepia(9%) saturate(2535%) hue-rotate(320deg) brightness(101%) contrast(95%)
}

#contact{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 2rem 0;
    padding: 1.5rem;
    border: none;
}

form label {
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
}

form input,
textarea {
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    width: 100%;
    font-size: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

textarea {
    resize: none;
    height: 5rem;
}

form span{
    margin: 0 0 0.5rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: red;
}

form button {
    text-align: center;
    padding: 0.75rem 2rem;
    background: var(--cor2);
    border: 1px solid var(--cor3);
    color: var(--cor3);
    border-radius: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

form button:hover {
    background: var(--cor6);
}

#mapa{
    width: 480px;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
}

#endereco > p{
    font-size: 1rem;
    text-align: justify;
    font-weight: 600;
}
